.slash {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="100%" x2="100%" y2="0" stroke="gray" /></svg>');

}
.slash div:nth-child(1){text-align: left;}
.slash div:nth-child(2){text-align: right; }