<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<!-- car-insurance-car-list.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/createCarForm.css}"/>
</th:block>
<!-- car-insurance-car-list.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
  <script type="text/javascript" th:src="@{/js/createCarForm.js}"></script>
</th:block>

<!-- Content -->
<div layout:fragment="content">
  <div class="container">

    <h2 class="mt-5 mb-3" style="text-align: center">차량 입 출고 관리대장 작성</h2>
    <form th:object="${carForm}" method="post">
      <div class="mb-3">
        <label th:for="carType" class="form-label">차량종류</label>
        <input th:field="*{carType}" type="text" class="form-control" placeholder="차량종류를 입력하세요">
      </div>
      <div class="mb-3">
        <label th:for="carNumber" class="form-label">차량번호</label>
        <input th:field="*{carNumber}" type="text" class="form-control" placeholder="차량번호를 입력하세요">
      </div>
      <div class="mb-3">
        <label th:for="phoneNumber" class="form-label">핸드폰</label>
        <input th:field="*{phoneNumber}" type="text" class="form-control" placeholder="'-'뺴고 입력하세요">
      </div>
      <div class="mb-3 row">
        <div class="col">
          <label th:for="createDate" class="form-label">입고날짜</label>
          <input th:field="*{createDate}" type="date" class="form-control">
        </div>
        <div class="col">
          <label th:for="releaseDate" class="form-label">출고날짜</label>
          <input th:field="*{releaseDate}" type="date" class="form-control">
        </div>
      </div>
      <div class="mb-3">
        <label th:for="vat" class="form-label">부과세</label>
        <input th:field="*{vat}" type="number" class="form-control"  placeholder="부과세를 입력하세요">
      </div>
      <div class="form-floating mb-3">
        <textarea th:field="*{comment}" class="form-control" placeholder="적요" id="comment" style="height: 100px"></textarea>
        <label th:for="comment">적요</label>
      </div>
      <div class="mb-3">
        <label th:for="tow" class="form-label">견인유무</label>
        <input th:field="*{tow}" type="number" class="form-control"  placeholder="견인비를 입력하세요">
      </div>
      <div style="text-align: right">
        <button type="submit" class="btn btn-primary">완료</button>
        <button type="button" class="btn btn-danger">취소</button>
      </div>
    </form>

  </div>
</div>
</html>
